<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.nss.hrm.backend.mapper.ReagentCopQualificationMapper">
  <resultMap id="BaseResultMap" type="jp.co.nss.hrm.backend.model.ReagentCopQualification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="supplier_short_name" jdbcType="VARCHAR" property="supplierShortName" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="medical_equipment_business_license" jdbcType="VARCHAR" property="medicalEquipmentBusinessLicense" />
    <result column="legal_person_power_of_attorney" jdbcType="VARCHAR" property="legalPersonPowerOfAttorney" />
    <result column="client_id_card" jdbcType="VARCHAR" property="clientIdCard" />
    <result column="quality_assurance_greement" jdbcType="VARCHAR" property="qualityAssuranceGreement" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_by" jdbcType="VARCHAR" property="deleteBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, supplier_id, supplier_short_name, business_license, medical_equipment_business_license, 
    legal_person_power_of_attorney, client_id_card, quality_assurance_greement, other, 
    create_time, create_by, update_time, update_by, delete_flag, delete_time, delete_by
  </sql>
  <select id="selectByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reagent_cop_qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reagent_cop_qualification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reagent_cop_qualification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualificationExample">
    delete from reagent_cop_qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualification">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reagent_cop_qualification (supplier_id, supplier_short_name, business_license, 
      medical_equipment_business_license, legal_person_power_of_attorney, 
      client_id_card, quality_assurance_greement, 
      other, create_time, create_by, 
      update_time, update_by, delete_flag, 
      delete_time, delete_by)
    values (#{supplierId,jdbcType=VARCHAR}, #{supplierShortName,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR}, 
      #{medicalEquipmentBusinessLicense,jdbcType=VARCHAR}, #{legalPersonPowerOfAttorney,jdbcType=VARCHAR}, 
      #{clientIdCard,jdbcType=VARCHAR}, #{qualityAssuranceGreement,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualification">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reagent_cop_qualification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierShortName != null">
        supplier_short_name,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="medicalEquipmentBusinessLicense != null">
        medical_equipment_business_license,
      </if>
      <if test="legalPersonPowerOfAttorney != null">
        legal_person_power_of_attorney,
      </if>
      <if test="clientIdCard != null">
        client_id_card,
      </if>
      <if test="qualityAssuranceGreement != null">
        quality_assurance_greement,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteBy != null">
        delete_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierShortName != null">
        #{supplierShortName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="medicalEquipmentBusinessLicense != null">
        #{medicalEquipmentBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPowerOfAttorney != null">
        #{legalPersonPowerOfAttorney,jdbcType=VARCHAR},
      </if>
      <if test="clientIdCard != null">
        #{clientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="qualityAssuranceGreement != null">
        #{qualityAssuranceGreement,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteBy != null">
        #{deleteBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualificationExample" resultType="java.lang.Long">
    select count(*) from reagent_cop_qualification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update reagent_cop_qualification
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierShortName != null">
        supplier_short_name = #{record.supplierShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicense != null">
        business_license = #{record.businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalEquipmentBusinessLicense != null">
        medical_equipment_business_license = #{record.medicalEquipmentBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersonPowerOfAttorney != null">
        legal_person_power_of_attorney = #{record.legalPersonPowerOfAttorney,jdbcType=VARCHAR},
      </if>
      <if test="record.clientIdCard != null">
        client_id_card = #{record.clientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.qualityAssuranceGreement != null">
        quality_assurance_greement = #{record.qualityAssuranceGreement,jdbcType=VARCHAR},
      </if>
      <if test="record.other != null">
        other = #{record.other,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="record.deleteTime != null">
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteBy != null">
        delete_by = #{record.deleteBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update reagent_cop_qualification
    set id = #{record.id,jdbcType=BIGINT},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      supplier_short_name = #{record.supplierShortName,jdbcType=VARCHAR},
      business_license = #{record.businessLicense,jdbcType=VARCHAR},
      medical_equipment_business_license = #{record.medicalEquipmentBusinessLicense,jdbcType=VARCHAR},
      legal_person_power_of_attorney = #{record.legalPersonPowerOfAttorney,jdbcType=VARCHAR},
      client_id_card = #{record.clientIdCard,jdbcType=VARCHAR},
      quality_assurance_greement = #{record.qualityAssuranceGreement,jdbcType=VARCHAR},
      other = #{record.other,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      delete_by = #{record.deleteBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualification">
    update reagent_cop_qualification
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierShortName != null">
        supplier_short_name = #{supplierShortName,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="medicalEquipmentBusinessLicense != null">
        medical_equipment_business_license = #{medicalEquipmentBusinessLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPowerOfAttorney != null">
        legal_person_power_of_attorney = #{legalPersonPowerOfAttorney,jdbcType=VARCHAR},
      </if>
      <if test="clientIdCard != null">
        client_id_card = #{clientIdCard,jdbcType=VARCHAR},
      </if>
      <if test="qualityAssuranceGreement != null">
        quality_assurance_greement = #{qualityAssuranceGreement,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteBy != null">
        delete_by = #{deleteBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.nss.hrm.backend.model.ReagentCopQualification">
    update reagent_cop_qualification
    set supplier_id = #{supplierId,jdbcType=VARCHAR},
      supplier_short_name = #{supplierShortName,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      medical_equipment_business_license = #{medicalEquipmentBusinessLicense,jdbcType=VARCHAR},
      legal_person_power_of_attorney = #{legalPersonPowerOfAttorney,jdbcType=VARCHAR},
      client_id_card = #{clientIdCard,jdbcType=VARCHAR},
      quality_assurance_greement = #{qualityAssuranceGreement,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_by = #{deleteBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>