<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.nss.hrm.backend.mapper.ReagentInDetailMapper">
  <resultMap id="BaseResultMap" type="jp.co.nss.hrm.backend.model.ReagentInDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="in_detail_id" jdbcType="VARCHAR" property="inDetailId" />
    <result column="reagent_id" jdbcType="VARCHAR" property="reagentId" />
    <result column="reagent_name" jdbcType="VARCHAR" property="reagentName" />
    <result column="reagent_unit" jdbcType="VARCHAR" property="reagentUnit" />
    <result column="reagent_specification" jdbcType="VARCHAR" property="reagentSpecification" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="total" jdbcType="DOUBLE" property="total" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="expire_date" jdbcType="DATE" property="expireDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_by" jdbcType="VARCHAR" property="deleteBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bill_code, in_detail_id, reagent_id, reagent_name, reagent_unit, reagent_specification, 
    factory, price, quantity, total, batch_no, expire_date, remark, create_time, create_by, 
    update_time, update_by, delete_flag, delete_time, delete_by
  </sql>
  <select id="selectByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reagent_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reagent_in_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reagent_in_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetailExample">
    delete from reagent_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reagent_in_detail (bill_code, in_detail_id, reagent_id, 
      reagent_name, reagent_unit, reagent_specification, 
      factory, price, quantity, 
      total, batch_no, expire_date, 
      remark, create_time, create_by, 
      update_time, update_by, delete_flag, 
      delete_time, delete_by)
    values (#{billCode,jdbcType=VARCHAR}, #{inDetailId,jdbcType=VARCHAR}, #{reagentId,jdbcType=VARCHAR}, 
      #{reagentName,jdbcType=VARCHAR}, #{reagentUnit,jdbcType=VARCHAR}, #{reagentSpecification,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{quantity,jdbcType=BIGINT}, 
      #{total,jdbcType=DOUBLE}, #{batchNo,jdbcType=VARCHAR}, #{expireDate,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reagent_in_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="billCode != null">
        bill_code,
      </if>
      <if test="inDetailId != null">
        in_detail_id,
      </if>
      <if test="reagentId != null">
        reagent_id,
      </if>
      <if test="reagentName != null">
        reagent_name,
      </if>
      <if test="reagentUnit != null">
        reagent_unit,
      </if>
      <if test="reagentSpecification != null">
        reagent_specification,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteBy != null">
        delete_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="billCode != null">
        #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="inDetailId != null">
        #{inDetailId,jdbcType=VARCHAR},
      </if>
      <if test="reagentId != null">
        #{reagentId,jdbcType=VARCHAR},
      </if>
      <if test="reagentName != null">
        #{reagentName,jdbcType=VARCHAR},
      </if>
      <if test="reagentUnit != null">
        #{reagentUnit,jdbcType=VARCHAR},
      </if>
      <if test="reagentSpecification != null">
        #{reagentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteBy != null">
        #{deleteBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetailExample" resultType="java.lang.Long">
    select count(*) from reagent_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update reagent_in_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.billCode != null">
        bill_code = #{record.billCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inDetailId != null">
        in_detail_id = #{record.inDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.reagentId != null">
        reagent_id = #{record.reagentId,jdbcType=VARCHAR},
      </if>
      <if test="record.reagentName != null">
        reagent_name = #{record.reagentName,jdbcType=VARCHAR},
      </if>
      <if test="record.reagentUnit != null">
        reagent_unit = #{record.reagentUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.reagentSpecification != null">
        reagent_specification = #{record.reagentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=BIGINT},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.batchNo != null">
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.expireDate != null">
        expire_date = #{record.expireDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="record.deleteTime != null">
        delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteBy != null">
        delete_by = #{record.deleteBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update reagent_in_detail
    set id = #{record.id,jdbcType=BIGINT},
      bill_code = #{record.billCode,jdbcType=VARCHAR},
      in_detail_id = #{record.inDetailId,jdbcType=VARCHAR},
      reagent_id = #{record.reagentId,jdbcType=VARCHAR},
      reagent_name = #{record.reagentName,jdbcType=VARCHAR},
      reagent_unit = #{record.reagentUnit,jdbcType=VARCHAR},
      reagent_specification = #{record.reagentSpecification,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      quantity = #{record.quantity,jdbcType=BIGINT},
      total = #{record.total,jdbcType=DOUBLE},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      expire_date = #{record.expireDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      delete_time = #{record.deleteTime,jdbcType=TIMESTAMP},
      delete_by = #{record.deleteBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetail">
    update reagent_in_detail
    <set>
      <if test="billCode != null">
        bill_code = #{billCode,jdbcType=VARCHAR},
      </if>
      <if test="inDetailId != null">
        in_detail_id = #{inDetailId,jdbcType=VARCHAR},
      </if>
      <if test="reagentId != null">
        reagent_id = #{reagentId,jdbcType=VARCHAR},
      </if>
      <if test="reagentName != null">
        reagent_name = #{reagentName,jdbcType=VARCHAR},
      </if>
      <if test="reagentUnit != null">
        reagent_unit = #{reagentUnit,jdbcType=VARCHAR},
      </if>
      <if test="reagentSpecification != null">
        reagent_specification = #{reagentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteBy != null">
        delete_by = #{deleteBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.nss.hrm.backend.model.ReagentInDetail">
    update reagent_in_detail
    set bill_code = #{billCode,jdbcType=VARCHAR},
      in_detail_id = #{inDetailId,jdbcType=VARCHAR},
      reagent_id = #{reagentId,jdbcType=VARCHAR},
      reagent_name = #{reagentName,jdbcType=VARCHAR},
      reagent_unit = #{reagentUnit,jdbcType=VARCHAR},
      reagent_specification = #{reagentSpecification,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      quantity = #{quantity,jdbcType=BIGINT},
      total = #{total,jdbcType=DOUBLE},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_by = #{deleteBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>